/* -- Extra CSS styles for content (RTD theme) ----------------------- */

/* make the page width fill the window */
.wy-nav-content {
  max-width: 1080px;
}

/* increase the size of the side bar from 300px default to 320px */
.wy-nav-side {
  width: 320px;
}

.wy-side-scroll {
  width: 340px;
}

.wy-side-nav-search {
  width: 320px;
}

.wy-menu-vertical {
  width: 320px;
}

/* (temporarily) add an under development tagline to the bread crumb
.wy-breadcrumbs::after {
  content: " (Content under development)";
  background-color: #FFFACD;
  color: red;
  font-weight: bold;
}
*/

/* code block highlight color in rtd changed to lime green, no no no */

.rst-content tt.literal, .rst-content code.literal, .highlight {
  background: #f0f0f0;
}
.rst-content tt.literal, .rst-content code.literal {
   color: #000000;
}

/* Make the version number more visible */
.wy-side-nav-search>div.version {
   color: rgba(255,255,255,1);
}

/* squish the space between a paragraph before a list */
div > p + ul, div > p + ol {
  margin-top: -20px;
}

/* add some space before the figure caption */
p.caption  {
   border-top: 1px solid;
   margin-top: 1em;
}

/* add a colon after the figure/table number (before the caption) */
span.caption-number::after {
  content: ": ";
}

p.extrafooter {
  text-align: right;
  margin-top: -36px;
}

table.align-center {
  display: table !important;
}

/* code block caption styles */
.code-block-caption {
   color: #000;
   font: italic 85%/1 arial,sans-serif;
   padding: 1em 0;
   text-align: center;
}

/*  make .. hlist:: tables fill the page */
table.hlist {
   width: 95% !important;
}

/*  override rtd theme white-space no-wrap in table heading and content  */
th,td {
   white-space: normal !important;
}

/* tweak for doxygen-generated API headings (for RTD theme) */
.rst-content dl.group>dt, .rst-content dl.group>dd>p {
  display:none !important;
}
.rst-content dl.group {
 margin: 0 0 12px 0px;
}
.rst-content dl.group>dd {
 margin-left: 0  !important;
}
.rst-content p.breathe-sectiondef-title {
 text-decoration: underline;  /* for API sub-headings */
 font-size: 1.25rem;
 font-weight: bold;
 margin-bottom: 12px;
}

.rst-content div.breathe-sectiondef {
 padding-left: 0 !important;
}

/* Collapsible sections styling */
.clps1 {
 font-size: 175%;
}

.clps2 {
 font-size: 150%;
}

.clps3 {
 font-size: 125%;
}

.clps4 {
 font-size: 115%;
}

.clps5 {
 font-size: 110%;
}

.clps6 {
 font-size: 100%;
}

.collapsible {
 margin-left: -10px;
 background-color: #f1f1f1;
 cursor: pointer;
 padding: 18px 18px 18px 10px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
 font-weight: 700;
 font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}

.collapsible:hover {
 background-color: #d8d8d8;
}

.collapsible:after {
 content: '\002B';
 font-weight: bold;
 float: right;
 margin-left: 5px;
}

.active:after {
 content: "\2212";
}

.content-collapse {
 overflow: hidden;
 transition: max-height 0.2s ease-out;
}

.header__menu_list li {
   display: inline;
   margin-left: 20px;
}

.version-dropdown {
  position: sticky;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.version-dropdown .collapsible {
  background-color: #e0e0e0; /* Fondo del contenido desplegado */
  border: 5px solid #000000;
  border-radius: 100px;  /* Borde redondeado */
  outline: none;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  align-items: center;
}

.version-dropdown .content {
  display: none;  /* Ocultar el contenido por defecto */
  background-color: #e0e0e0; /* Fondo del contenido desplegado */
  border-radius: 8px;
  padding: 8px;
  margin-top: 5px;

  /* Reducir el ancho del bloque desplegable */
  width: calc(100% - 20px); /* Ajusta el valor para hacerlo más pequeño */
  margin-right: auto; /* Añadir margen derecho */
}

.version-dropdown .collapsible.active + .content {
  display: block;  /* Mostrar el contenido cuando el botón está activo */
}

.version-dropdown .content a:hover {
  background-color: #d6c0c0;
}

.version-dropdown .collapsible span.version-text {
  font-size: 13px;
}

.version-dropdown .collapsible span.current-version {
  font-size: 11px;
  color: rgb(49, 43, 43);
  margin-left: auto;
}
